body,
html {
    width: 100%;
    height: 100%;
    margin: 0;

}

* {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0;
    color: #22233b;
    line-height: 1.4em;
    font-family: 'muli' , sans-serif;

}

.container {
    width: 90%;
    padding: 0px 15px;
    margin: auto;
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    background-image: url(../images/header-bg-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;

}

.nevigation {
    width: 100%;
    overflow: auto;
    padding: 15px;
}

.luna-logo {
    float: left;
    width: 15%;
    padding: 15px 15px;
}

.menubar {
    float: left;
    width: 65%;
    padding: 15px;

}

.menu-items {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
}

.menu-anchor {
    text-decoration: none;
    display: inline-block;
    color: #56576e;
    font-size: 16px;
    font-weight: 600;
}

.free-btn {
    width: 20%;
    float: right;
    padding: 15px;
}

.free-anchor {
    text-decoration: none;
    color: #6858db;
    padding: 10px 30px;
    display: inline-block;
    text-align: center;
}

.head-text {
    width: 65%;
    padding: 30px 20px
}

.head-h5 {
    color: #ff867a;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.head-h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    color: #22233b;
    line-height: 1.5em;
}

.head-pera {
    color: #56576e;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-right: 100px;
    line-height: 1.6em;
}

.appstore {
    margin-top: 50px;
}

.app-btn {
    text-decoration: none;
    background-color: #22233b;
    color: white;
    border-radius: 100px;
    padding: 15px 50px;
    color: white;
    display: inline-block;
    margin-right: 15px;

}

.app-img {
    display: inline-block;
    padding-left: 50px;
    position: relative;
    font-family: 'Muli', sans-serif;


}

.store-icon {
    position: absolute;
    top: 5px;
    left: 0;
    width: 30%;



}

.app-h6 {
    color: inherit;
    font-size: 12px;
    line-height: 2em;
    font-family: inherit;
    font-weight: lighter;


}

.app-h4 {
    color: inherit;
    font-size: 16px;
    font-family: inherit;
    font-weight: bolder;
}

.reason-sec {
    width: 100%;
    background-color: white;
    padding-top: 120px;
}

.heading-luna {
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
}

.luna-h3 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;

}

.reason-cont {
    width: 100%;
    background-color: inherit;
    overflow: auto;
    padding: 15px 15px;

}

.reason-parent {
    padding: 10px 10px;
    width: 33.33%;
    float: left;
}

.reason-card {
    width: 100%;

    box-shadow: 0 0 20px -10px #c9c9c9;
    border-radius: 6px;
    padding: 60px 30px;
    color: #56576e;
    text-align: center;
}

.ser-icon {
    background-color: #f6f6f9;
    border-radius: 6px;
    margin: auto auto 40px auto;
    height: 70px;
    width: 70px;
    padding: 10px;


}

.ser-txt {
    line-height: 1.6em;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;

}

.ser-pera {
    font-weight: 400;
    line-height: 1.6em;
    font-family: 'muli', sans-serif;
    color: #56576e;
    font-size: 16px;
    margin-bottom: 10px;

    /*    padding: 0px 30px 20px 30px;*/
}

.social-section {
    width: 100%;
    padding-top: 80px;
    background-color: white;

}

.soc {
    overflow: auto;
}

.soc-mob {
    float: left;
    width: 50%;
    padding: 10px;
}

.soc-cont {
    float: left;
    width: 45%;
    padding: 0px 15px;
    margin-left: 5%;
    overflow: auto;
}

.soc-img {
    width: 30%;
    margin-bottom: 30px;
}

.soc-h3 {
    font-size: 30px;
    font-weight: 700;
    color: #22233b;
    margin-bottom: 15px;
    line-height: 1.4em;
}


.soc-list {
    margin-top: 50px;
    margin-bottom: 20px;
}

.soc-items {
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-width: 125px;
    border-radius: 6px;
    text-align: center;
}

.soc-item-upr {
    color: #f9748e;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;

}

.soc-span {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.soc-user {
    color: #56576e;
    font-size: 18px;

}

.video-section {
    width: 100%;
    background-color: white;
    padding-top: 100px;
}

.video-img {
    width: 65%;
    height: 580px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background-image: url(../images/video-img.jpg);
    background-position: 50%;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.play-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.feature-section {
    width: 100%;
    padding-top: 80px;
    background-color: white;
}

.fea-cont {
    padding: 0px 15px;
    margin: auto;
}

.feature-cool {
    width: 100%;
    overflow: auto;


}

.cool-one {
    width: 25%;
    float: left;
    padding: 20px 20px;
}

.one-fea {
    width: 100%;
    padding: 40px 30px;

    border-radius: 6px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

}

.mar {
    margin-top: 20px;
}

.fea-img {
    text-align: center;
    padding: 10px;
    height: 130px;
    width: 100px;
    margin: auto;
}

.fea-h4 {
    color: #22233b;
    font-size: 22px;
    font-weight: 700;
    font-family: 'muli', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.screen-section {
    width: 100%;
    padding-top: 80px;
    position: relative;

}

.over {
    overflow: auto;

}

.arrow {
    float: left;
    width: 6%;
    left: 10px;
    top: 500px;
    position: absolute;
}

.arrow-icon {
    padding: 15px;

}

.screen {
    width: 94%;
    float: right;
    padding: 10px;
    overflow: auto;
}

.screen-set {
    width: 300px;
    float: left;
}

.screen-img {
    margin: 30px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.price-section {
    width: 100%;
    background-color: white;
    padding-top: 80px;
}

.price-cards {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    overflow: auto;

}

.price-card {
    width: 33.33%;
    float: left;
    font-family: 'muli', sans-serif;
    font-size: 16px;
    color: #56576e;
    padding: 10px;

}

.card1 {
    width: 100%;
    padding: 50px;
    border-radius: 6px;
    background-image: url(../images/price-bg.png);
    background-size: auto;
    background-position: right top;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.price-icon {
    height: 70px;
    text-align: center;
}

.price-list {
    color: inherit;
    margin: 20px;
    list-style: none;
    text-align: center;
}

.price-items {
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    font-size: inherit;
    line-height: 2em;
}

.price-h3 {
    color: #6858db;
    font-size: 26px;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 25px;
    text-align: center;
}

.price-anchor {
    border-radius: 50px;
    border: 1px solid #6858db;
    color: #6858db;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    font-weight: 700;
}

.founder-section {
    width: 100%;
    background-color: white;
    padding-top: 80px;
}

.found-person {
    width: 100%;
    overflow: auto;
    padding: 15px;
}

.person-cards {
    float: left;
    width: 25%;
    padding: 15px;
}

.per-cont {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 300px 300px 10px 10px;
    text-align: center;
}

.photo-team {
    border-radius: 100%;

}

.photo-text {
    padding: 15px 15px;
    text-align: center;
}

.text-h4 {
    font-family: 'muli', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3px;
    line-height: 1.6em;


}

.text-h6 {
    font-family: 'muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #56576e;
}

.blog-section {
    width: 100%;
    position: relative;
    padding-top: 80px;
}

.blog-cont {
    padding: 0px 15px;
    width: 100%;
    overflow: auto;
    margin: auto;

}

.blog-arrow {

    padding: 10px;
    width: 6%;
    float: left;
    text-align: center;
    margin-top: 130px;
    /*    top: 100px;*/
    /*    left: 10px;*/
    /*    position: absolute;*/

}

.blog-text {
    float: left;
    width: 88%;


}

.blog-pera {
    width: 100%;
    padding: 50px 80px 50px 50px;
    margin: 30px auto;
    font-family: 'muli', sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

}

.pera-blog {
    color: #56576e;
    font-size: 16px;
    font-family: 'muli', sans-serif;
    line-height: 1.6em;
    font-weight: 400;
    text-align: justify;

}

.blog-spen {
    color: #6858db;
    margin-top: 30px;
    text-align: left;
    margin-left: 40px;


}

.quote {
    color: #6858db;
    padding: 15px;
    font-size: 40px;
    float: left;

}

.que-section {
    width: 100%;
    padding: 80px 0px;
    background-color: white;
}

.que-ans {
    width: 50%;
    float: left;
    padding: 0px 15px;

}

.que-ans-card {
    width: 100%;
    padding: 25px;
    border-radius: 6px;
    background-color: rgba(236, 234, 251, 0.3);
    margin-bottom: 20px;
}

.qua-text {
    font-size: 15px;
    font-weight: 700;
    font-family: 'muli', sans-serif;
    text-align: left;

}

.app-section {
    width: 100%;
    background-image: url(../images/download-bg.jpg);
    background-size: 50%;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 50px;

}

.app-dow {
    overflow: auto;
    padding: 120px 0px;
    width: 90%;
    margin: auto;

}

.free-dow {
    float: right;
    width: 50%;
    margin-left: 60px;
}

.app-txt {
    font-size: 35px;
    font-weight: 700;
    color: #22233b;
    text-align: left;
    font-family: 'muli', sans-serif;
}
.map-img
{
    width: 90%;
    margin: auto;
}
.lunablog-cont
{
    width: 100%;
    overflow: auto;
    padding: 15px;
    
}
.luna-blog-card
{
    width: 33.33%;
    float: left;
    padding: 15px;
}
.luna-cards
{
    width: 100%;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 10px 0 #f2f2f2;
    border-radius: 6px;
}
.card-data
{
    padding: 30px 15px;
}
.card-h5
{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    
}
.blog-card
{
    text-decoration: none;
    color: #56576e;
}
.blog-date
{
    list-style: none;
    font-size: 12px;
    color: #56576e;
    font-family: sans-serif;
}
